// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

// $primary: #B5904CDC;
$primary:#B5904C;
// $primary-dark: #B5904C;
// $primary-light: #B5904C71;
$secundary:#303030;
$secundary-dark:#000000;
$secundary-dark-light:#100F0F;
$secundary-light:#333033;
$terciary:#CCCCCC;
$terciary-light:#D9D9D9;
// $terciary-lighter: #FFFFFF00;
$terciary-lightest:#FFFFFF;

@import url("../fonts/Montserrat.css");

body {
    font-family:'Montserrat';
    h1 {
        font-weight: bold;
        font-size:75px;
        text-transform: uppercase;
    }
    h2 {
        font-weight: bold;
        font-size:70px;
        text-transform: uppercase;
        text-align: center;
    }
    h4 {
        font-weight: bold;
        font-size:35px;
        text-transform: uppercase;
    }
    h6 {
        font-weight: bold;
        font-size:18px;
        text-transform: uppercase;
    }
}

.page-section {
    padding-bottom: 119px;
}

#services {
    background: $primary;
    color: $terciary-lightest;
}

.top-header {
    height:1080px;
    background-image: url("../img/background.png");
}

.overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(180deg, #B5904C 0%, #B5904CDC 54%, #B5904C71 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.social-network {
    padding-top:56px;
    padding-right:43px;
    a { 
        text-decoration: none;
        .low-opacity {
            opacity: 0.3;
        }
        
        .low-opacity:hover {
            opacity:1;
        } 
    }
}

.small-logo {
    padding-top:53px;
}

.languages {
    padding-right: 10px;
    text-align: center;
    font: normal normal 500 17px/20px Montserrat;
    color: #FFFFFF;
    text-transform: uppercase;
}

.large-logo {
    position: relative;
    padding-top: 153px;
}

.large-logo .top-right{
    position: absolute;
    left:36px;
    top:263px;
    text-align: center;
    font: normal normal bold 70px/86px Montserrat;
    color: #FFFFFF;
    text-transform: uppercase;
 }

.logo-motto {
    white-space: nowrap;
    text-align: center;
    font: normal normal bold 70px/86px Montserrat;
    color: #FFFFFF;
    text-transform: uppercase;
    z-index: 9999;
}

.menu-main {
    color: #FFFFFF;
    font: normal normal 500 17px/20px Montserrat;
    text-transform: uppercase;
    padding-top:43px;
}

.menu-main li {
    display: inline;
    list-style-type: none;
}

.menu-main li a {
    color: #FFFFFF;
}

.menu-main li:not(:last-child):after {
    content:"\00a0\00a0\00a0\00a0.\00a0\00a0\00a0\00a0";
    font: normal normal 500 17px/20px Montserrat;
    text-transform: uppercase;
    color: #FFFFFF;
}

#main-nav { 
    min-height:78px;
    background-color: $secundary;

    #main-menu {
        li {

            a {
                text-align: center;
                font: normal normal 500 17px/20px Montserrat;
                color: #FFFFFF;
                text-transform: uppercase;
            }
            .dropdown-menu {
                background: $secundary;
            }
        }
    }

    #navbarNavDropdown {
        padding-left: 280px;
    }
}

.logo-nav {
    padding-top:7px;
}

.social-network-nav {
    padding-top:7px;
    padding-right:57px;

    a { 
        text-decoration: none;
        .low-opacity {
            opacity: 0.3;
        }
        
        .low-opacity:hover {
            opacity:1;
        } 
    }
}

#who-are-we-header { 
    text-align: center;
    font: normal normal bold 70px/86px Montserrat;
    color: #303030;
    text-transform: uppercase;
}

ul#who-are-we {
    margin-top:37px;
    li {
        button {
            text-align: center;
            font: normal normal 600 25px/30px Montserrat;
            color: #B5904C;
            text-transform: uppercase;
            display:inline-block;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom:2px solid #B5904C;
            padding: 8px 0px 4px;
            background: none;
        }
    }
    li:not(:last-child) {
        margin-right:87px;
    }
}

#myTabContent {
    margin-top:88px;
    margin: 278
}

#founder-name {
    font: normal normal bold 70px/86px Montserrat;
    color: #303030;
    text-transform: uppercase;
}

.founder-title {
    font: normal normal bold 35px/43px Montserrat;
    color: #303030;
    text-transform: uppercase;
}

.founder-text {
    text-align: left;
    font: normal normal medium 20px/24px Montserrat;
    color: #303030;
}

#index-wrapper {
    padding-top:143px;
}

.social-media-founder {
    margin-top:26px;
    a { 
        text-decoration: none;
        .low-opacity {
            opacity: 0.3;
        }
        
        .low-opacity:hover {
            opacity:1;
        } 
    }
}

.service-symbol-frame {
    text-align: center;
    display: inline-block;
    min-width: 165px;
}

.service-symbol-text {
    text-align: center;
    font: normal normal 500 18px/22px Montserrat;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 34px;
    word-break: break-word;
    min-height: 44px;
}

.service-icons {
    margin-top:34px;
}

.services-info {
    text-align: center;
    font: normal normal 600 22px/27px Montserrat;
    color: #FFFFFF;
    margin-top: 64px;
}

.title-holder {
    padding-top: 92px;
}