// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

// $primary: #B5904CDC;
$primary:#B5904C;
// $primary-dark: #B5904C;
// $primary-light: #B5904C71;
$secundary:#303030;
$secundary-dark:#000000;
$secundary-dark-light:#100F0F;
$secundary-light:#333033;
$terciary:#CCCCCC;
$terciary-light:#D9D9D9;
// $terciary-lighter: #FFFFFF00;
$terciary-lightest:#FFFFFF;

@media (max-width: 575px) { 
    body {
        h1 {
            font-weight: bold;
            font-size:25px;
            text-transform: uppercase;
        }
        h2 {
            font-weight: bold;
            font-size:20px;
            text-transform: uppercase;
            text-align: center;
        }
        h3 {
            font-weight: bold;
            font-size:18px;
            text-transform: uppercase;
            text-align: center;
        }
        h4 {
            font-weight: bold;
            font-size:14px;
            text-transform: uppercase;
        }
        h5 {
            font-weight: bold;
            font-size:10px;
            text-transform: uppercase;
        }
        h6 {
            font-weight: bold;
            font-size:8px;
            text-transform: uppercase;
        }
    }
    .menu-main {
        color: #FFFFFF;
        font: normal normal 500 17px/20px Montserrat;
        text-transform: uppercase;
        padding-top:43px;
        ul {
            padding-inline-start:0px;
            li {
                display: inline;
                list-style-type: none;
                a {
                    color: #FFFFFF;
                }
            }
        }
        
    }

    #main-menu-container {
        display:none;
    }

    #header-social-network {
        display:none;
    }

    ul#who-are-we-nav {
        margin-top:37px;
        li {
            button {
                text-align: center;
                font: normal normal 600 15px/30px Montserrat;
                color: #B5904C;
                text-transform: uppercase;
                display:inline-block;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: none;
                padding: 8px 0px 4px;
                background: none;
            }
            button.active {
                border-bottom:2px solid #B5904C;
            }
        }
        li:not(:last-child) {
            margin-right:17px;
        }
    }

    .custom-nav {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        li {
            button {
                text-align: center;
                font: normal normal 600 15px/30px Montserrat;
                color: #B5904C;
                text-transform: uppercase;
                display:inline-block;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: none;
                padding: 8px 0px 4px;
                background: none;
            }
            button.active {
                border-bottom:2px solid #B5904C;
            }
        }
        li:not(:last-child) {
            margin-right:10px;
        }
    }

    .service-symbol-text {
        display:none;
    }

    .services-info {
        text-align: center;
        font: normal normal 600 16px/27px Montserrat;
        color: #FFFFFF;
    }

    .material-scrolltop {
        display:none;
    }
    .slider {
        max-width: 400px;
    }

    .float{
        position:fixed;
        width:70px;
        height:45px;
        bottom:40px;
        right:0px;
        background-color:#303030;
        color:green;
        border-radius: 50px 0px 0px 50px;
        text-align:center;
        font-size:30px;
        box-shadow: 2px 2px 3px #999;
        z-index:1030;
    }
    
    .whatsapp-logo {
        margin-top:-5px;
        width:30px;
        height:30px;
    }

    .logo-nav-big {
        display:none;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    h1 {
        font-weight: bold;
        font-size:35px;
        text-transform: uppercase;
    }
    h2 {
        font-weight: bold;
        font-size:25px;
        text-transform: uppercase;
        text-align: center;
    }
    h3 {
        font-weight: bold;
        font-size:20px;
        text-transform: uppercase;
        text-align: center;
    }
    h4 {
        font-weight: bold;
        font-size:18px;
        text-transform: uppercase;
    }
    h5 {
        font-weight: bold;
        font-size:12px;
        text-transform: uppercase;
    }
    h6 {
        font-weight: bold;
        font-size:10px;
        text-transform: uppercase;
    }

    #main-menu-container {
        display:none;
    }

    #header-social-network {
        display:none;
    }

    ul#who-are-we-nav {
        margin-top:37px;
        li {
            button {
                text-align: center;
                font: normal normal 600 25px/30px Montserrat;
                color: #B5904C;
                text-transform: uppercase;
                display:inline-block;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: none;
                padding: 8px 0px 4px;
                background: none;
            }
            button.active {
                border-bottom:2px solid #B5904C;
            }
        }
        li:not(:last-child) {
            margin-right:87px;
        }
    }

    .custom-nav {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        li {
            button {
                text-align: center;
                font: normal normal 600 25px/30px Montserrat;
                color: #B5904C;
                text-transform: uppercase;
                display:inline-block;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: none;
                padding: 8px 0px 4px;
                background: none;
            }
            button.active {
                border-bottom:2px solid #B5904C;
            }
        }
        li:not(:last-child) {
            margin-right:87px;
        }
    }

    .services-symbol-text {
        display:none;
    }

    .services-info {
        text-align: center;
        font: normal normal 600 22px/27px Montserrat;
        color: #FFFFFF;
    }

    .slider {
        max-width: 500px;
    }

    .float{
        position:fixed;
        width:105px;
        height:89px;
        bottom:40px;
        right:0px;
        background-color:#303030;
        color:green;
        border-radius: 50px 0px 0px 50px;
        text-align:center;
        font-size:30px;
        box-shadow: 2px 2px 3px #999;
        z-index:1030;
    }
    
    .whatsapp-logo {
        margin-top:20px;
    }

    .logo-nav-small {
        display:none;
    }
}

@media (min-width: 768px) and (max-width: 991px) { 
    h1 {
        font-weight: bold;
        font-size:50px;
        text-transform: uppercase;
    }
    h2 {
        font-weight: bold;
        font-size:45px;
        text-transform: uppercase;
        text-align: center;
    }
    h3 {
        font-weight: bold;
        font-size:30px;
        text-transform: uppercase;
        text-align: center;
    }
    h4 {
        font-weight: bold;
        font-size:26px;
        text-transform: uppercase;
    }
    h5 {
        font-weight: bold;
        font-size:18px;
        text-transform: uppercase;
    }
    h6 {
        font-weight: bold;
        font-size:14px;
        text-transform: uppercase;
    }

    #main-menu-container {
        display:none;
    }

    ul#who-are-we-nav {
        margin-top:37px;
        li {
            button {
                text-align: center;
                font: normal normal 600 25px/30px Montserrat;
                color: #B5904C;
                text-transform: uppercase;
                display:inline-block;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: none;
                padding: 8px 0px 4px;
                background: none;
            }
            button.active {
                border-bottom:2px solid #B5904C;
            }
        }
        li:not(:last-child) {
            margin-right:87px;
        }
    }

    .custom-nav {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        li {
            button {
                text-align: center;
                font: normal normal 600 25px/30px Montserrat;
                color: #B5904C;
                text-transform: uppercase;
                display:inline-block;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: none;
                padding: 8px 0px 4px;
                background: none;
            }
            button.active {
                border-bottom:2px solid #B5904C;
            }
        }
        li:not(:last-child) {
            margin-right:87px;
        }
    }

    #services-info-title {
        display:none;
    }

    .services-info {
        text-align: center;
        font: normal normal 600 22px/27px Montserrat;
        color: #FFFFFF;
    }

    .float{
        position:fixed;
        width:105px;
        height:89px;
        bottom:40px;
        right:0px;
        background-color:#303030;
        color:green;
        border-radius: 50px 0px 0px 50px;
        text-align:center;
        font-size:30px;
        box-shadow: 2px 2px 3px #999;
        z-index:1030;
    }
    
    .whatsapp-logo {
        margin-top:20px;
    }

    .logo-nav-small {
        display:none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) { 
    h1 {
        font-weight: bold;
        font-size:65px;
        text-transform: uppercase;
    }
    h2 {
        font-weight: bold;
        font-size:60px;
        text-transform: uppercase;
        text-align: center;
    }
    h3 {
        font-weight: bold;
        font-size:45px;
        text-transform: uppercase;
        text-align: center;
    }
    h4 {
        font-weight: bold;
        font-size:30px;
        text-transform: uppercase;
    }
    h5 {
        font-weight: bold;
        font-size:22px;
        text-transform: uppercase;
    }
    h6 {
        font-weight: bold;
        font-size:16px;
        text-transform: uppercase;
    }

    ul#who-are-we-nav {
        margin-top:37px;
        li {
            button {
                text-align: center;
                font: normal normal 600 25px/30px Montserrat;
                color: #B5904C;
                text-transform: uppercase;
                display:inline-block;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: none;
                padding: 8px 0px 4px;
                background: none;
            }
            button.active {
                border-bottom:2px solid #B5904C;
            }
        }
        li:not(:last-child) {
            margin-right:87px;
        }
    }

    .custom-nav {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        li {
            button {
                text-align: center;
                font: normal normal 600 25px/30px Montserrat;
                color: #B5904C;
                text-transform: uppercase;
                display:inline-block;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: none;
                padding: 8px 0px 4px;
                background: none;
            }
            button.active {
                border-bottom:2px solid #B5904C;
            }
        }
        li:not(:last-child) {
            margin-right:87px;
        }
    }

    #services-info-title {
        display:none;
    }

    .services-info {
        text-align: center;
        font: normal normal 600 22px/27px Montserrat;
        color: #FFFFFF;
    }

    .float{
        position:fixed;
        width:105px;
        height:89px;
        bottom:40px;
        right:0px;
        background-color:#303030;
        color:green;
        border-radius: 50px 0px 0px 50px;
        text-align:center;
        font-size:30px;
        box-shadow: 2px 2px 3px #999;
        z-index:1030;
    }
    
    .whatsapp-logo {
        margin-top:20px;
    }

    .logo-nav-small {
        display:none;
    }
}

// Medium devices (tablets, 768px and up) { ... }

// Large devices (desktops, 992px and up) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    h1 {
        font-weight: bold;
        font-size:70px;
        text-transform: uppercase;
    }
    h2 {
        font-weight: bold;
        font-size:65px;
        text-transform: uppercase;
        text-align: center;
    }
    h3 {
        font-weight: bold;
        font-size:50px;
        text-transform: uppercase;
        text-align: center;
    }
    h4 {
        font-weight: bold;
        font-size:30px;
        text-transform: uppercase;
    }
    h5 {
        font-weight: bold;
        font-size:20px;
        text-transform: uppercase;
    }
    h6 {
        font-weight: bold;
        font-size:15px;
        text-transform: uppercase;
    }

    ul#who-are-we-nav {
        margin-top:37px;
        li {
            button {
                text-align: center;
                font: normal normal 600 25px/30px Montserrat;
                color: #B5904C;
                text-transform: uppercase;
                display:inline-block;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: none;
                padding: 8px 0px 4px;
                background: none;
            }
            button.active {
                border-bottom:2px solid #B5904C;
            }
        }
        li:not(:last-child) {
            margin-right:87px;
        }
    }

    .custom-nav {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        li {
            button {
                text-align: center;
                font: normal normal 600 25px/30px Montserrat;
                color: #B5904C;
                text-transform: uppercase;
                display:inline-block;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: none;
                padding: 8px 0px 4px;
                background: none;
            }
            button.active {
                border-bottom:2px solid #B5904C;
            }
        }
        li:not(:last-child) {
            margin-right:87px;
        }
    }

    #services-info-title {
        display:none;
    }

    .services-info {
        text-align: center;
        font: normal normal 600 22px/27px Montserrat;
        color: #FFFFFF;
    }

    .float{
        position:fixed;
        width:105px;
        height:89px;
        bottom:40px;
        right:0px;
        background-color:#303030;
        color:green;
        border-radius: 50px 0px 0px 50px;
        text-align:center;
        font-size:30px;
        box-shadow: 2px 2px 3px #999;
        z-index:1030;
    }
    
    .whatsapp-logo {
        margin-top:20px;
    }

    #navbarNavDropdown li:not(:last-child):after {
        content:"\00a0\00a0\00a0\00a0.\00a0\00a0\00a0\00a0";
        color:$terciary-lightest;
    }

    .logo-nav-small {
        display:none;
    }
}


@import url("../fonts/Montserrat.css");

body {
    font-family:'Montserrat';
}

.logo-nav-small {
    width:60px;
    height:60px;
}

.navbar-toggler {
    border:0;
    border-radius: 0;
}

.page-section {
    padding-bottom: 119px;
}

#services {
    background: $primary;
    color: $terciary-lightest;
}

.top-header {
    background-size: cover;
    width: 100vw; 
    min-height: 100vh;
    background-color: $primary;
}

.social-network {
    padding-top:56px;
    padding-right:43px;
    a { 
        text-decoration: none;
        .low-opacity {
            opacity: 0.3;
        }
        
        .low-opacity:hover {
            opacity:1;
        } 
    }
}

.small-logo {
    padding-top:53px;
}

.languages {
    padding-right: 10px;
    text-align: center;
    font: normal normal 500 17px/20px Montserrat;
    color: #FFFFFF;
    text-transform: uppercase;
    display: none;
}

.large-logo {
    padding-top: 153px;
}

.logo-motto {
    white-space: nowrap;
    text-align: center;
    font: normal normal bold 70px/86px Montserrat;
    color: #FFFFFF;
    text-transform: uppercase;
    z-index: 9999;
}

.menu-main {
    color: #FFFFFF;
    font: normal normal 500 17px/20px Montserrat;
    text-transform: uppercase;
    padding-top:43px;
    ul {
        padding-inline-start:0px;
        li {
            display: inline;
            list-style-type: none;
            a {
                color: #FFFFFF;
            }
        }
    }
}

.menu-main li:not(:last-child):after {
    content:"\00a0\00a0\00a0\00a0.\00a0\00a0\00a0\00a0";
}

#main-nav { 
    background-color: $secundary;
    #navbarNavDropdown {
        ul {
            margin-bottom: 0;
            padding-inline-start:0px;
            li {
                display: inline;
                list-style-type: none;
                a {
                    text-align: center;
                    font: normal normal 500 17px/20px Montserrat;
                    color: #FFFFFF;
                    text-transform: uppercase;
                }
                a:hover {
                    text-decoration: none;
                }
                .dropdown-menu {
                    background: $secundary;
                }
            }
        }
    }
}

.social-network-nav {

    a { 
        text-decoration: none;
        .low-opacity {
            opacity: 0.3;
        }
        
        .low-opacity:hover {
            opacity:1;
        } 
    }
}

#myTabContent {
    margin-top:88px;
}

#founder-name {
    font: normal normal bold 70px/86px Montserrat;
    color: #303030;
    text-transform: uppercase;
}

.founder-title {
    font: normal normal bold 35px/43px Montserrat;
    color: #303030;
    text-transform: uppercase;
}

.founder-text {
    text-align: left;
    font: normal normal normal 20px/24px Montserrat;
    color: #303030;
}

#index-wrapper {
    padding:0;
}

.social-media-founder {
    margin-top:26px;
    a { 
        text-decoration: none;
        .low-opacity {
            opacity: 0.3;
        }
        
        .low-opacity:hover {
            opacity:1;
        } 
    }
}

.service {
    display:flex;
    flex-direction: column;
}

.service-symbol-border {
    border: 2px solid $primary;
    border-radius: 82px;
    display: inline-block;
}

.service-symbol-border:hover {
    border: 2px solid $terciary-lightest;
}

.service-symbol-frame {
    text-align: center;
}

.service-symbol-text {
    font: normal normal 500 18px/22px Montserrat;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 24px;
    margin-top: 24px;
}

.service-icons {
    margin:34px auto 0;
    max-width: 1200px;
}

.title-holder {
    padding-top: 92px;
}

.team-row {
    max-width: 1200px;
    margin: 0 auto;
}

.team {
    display: flex;
    flex-direction: column;
    border: none;
    .team-photo {
        max-height:236px;
        max-width:236px;
    }
    .team-card {
        .team-name {
            margin-block-start: 0;
            margin-block-end: 0;
            color: $secundary;
            text-align: center;
            font-weight: 600;
            font-size:19px;
            text-transform: uppercase;
        }
        .team-description {
            margin-block-start: 0;
            margin-block-end: 0;
            color: $primary;
            text-align: center;
            font-weight: 600;
            font-size:17px;
            text-transform: uppercase;
        }
    }
    .social-media-team {
        img {
            max-width: 32px;
            max-height: 32px;
        }
        .low-opacity-fixed {
            opacity:0.3;
        } 
        .low-opacity {
            opacity:0.3;
        }
        .low-opacity:hover {
            opacity:1;
        } 
    }
}

.player {
    max-width: 18rem;
    display:inline-flex;
    .player-card {
        background: $secundary;
        padding:9px;
        .player-name {
            margin-block-start: 0;
            margin-block-end: 0;
            color: $primary;
            text-align: left;
            font-weight: 600;
            font-size:21px;
            text-transform: uppercase;
        }
        .player-position {
            margin-block-start: 0;
            margin-block-end: 0;
            color: $terciary-lightest;
            text-align: left;
            font-weight: 600;
            font-size:16px;
            text-transform: uppercase;
        }
    }
    .player-card-placeholder {
        background: $secundary;
        height: 75px;
        .player-name {
            margin-block-start: 0;
            margin-block-end: 0;
            color: $primary;
            text-align: left;
            font-weight: bold;
            font-size:21px;
            text-transform: uppercase;
            a {
                color: $primary;
            }
            a:hover {
                text-decoration: none;
            }
        }
        .player-position {
            margin-block-start: 0;
            margin-block-end: 0;
            color: $terciary-lightest;
            text-align: left;
            font-weight: bold;
            font-size:18px;
            text-transform: uppercase;
        }
    }
}

.social-media-player {
    display: inline-block;
    img {
        max-width: 28px;
        max-height: 28px;
    }
    .low-opacity-fixed {
        opacity:0.3;
    } 
    .low-opacity {
        opacity:0.3;
    }
    .low-opacity:hover {
        opacity:1;
    } 
}

.play-button {
    background: none;
	border: none;
	padding: 0;
}

#news {
    background: $secundary;
    background-image: url("../img/logo-news.png") no-repeat;
    color: $primary;
}

#wrapper-footer {
    background: $secundary;
    color: $primary;
    .contact-info {
        text-align: center;
        font: normal normal 600 22px/30px Montserrat;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-transform: uppercase;

        .lowercase {
            text-transform: lowercase ;
        }
        p {
            margin-block-start:0;
            margin-block-end:0;
        }
    }
    .contact-form-holder {
        input, textarea {
            vertical-align: middle;
            border-radius: 22px;
            margin-bottom: 16px;
            font-size: 20px;
            background: $terciary-lightest;
            border: none;
            outline: 0;
            &[type="submit"] {
                border-radius: 22px;
                display: inline-block;
                background: $primary;
                color: $terciary-lightest;
                width:149px;
                text-transform: uppercase;
                font: normal normal bold 15px/19px Montserrat;
            }
        }

    }
    h5 {
        color:$terciary-lightest;
        font-weight: 600;
        font-size: 25px;
    }
}

.row-players {
    max-width: 1200px;
    margin:0 auto;
}

.country-flag {
    margin-top:10px;
}

.card-player-flags {
    position:absolute;
    top:20px;
    left:0;
    width:100%;
    z-index:1010;
}

.card-player-info {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    .player-card-info {
        padding:1rem;
        height:100%;
        background: $secundary;
        color: $primary;
        .player-name {
            margin:0;
            color: $primary;
            text-align: left;
            font-weight: bold;
            font-size:20px;
            text-transform: uppercase;
        }
        .player-position {
            color: $terciary-lightest;
            text-align: left;
            font-weight: bold;
            font-size:16px;
            text-transform: uppercase;
        }
        .player-stats {
            margin:0;
            color: $terciary-lightest;
            text-align: left;
            font-weight: bold;
            font-size:16px;
            text-transform: uppercase;
        }
    }
}

#newsletter {
    background-color: $primary;
    text-align: center;
    font: normal normal 600 20px/30px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;

    .lowercase {
        text-transform: lowercase ;
    }
    p {
        margin-block-start:0;
        margin-block-end:0;
    }
    .contact-form-holder {
        input, textarea {
            width:100%;
            border-radius: 22px;
            border: none;
            font-size:15px;
            font-weight: 600;
            &[type="submit"] {
                border-radius: 22px;
                display: inline-block;
                background: $secundary;
                color: $terciary-lightest;
                width:149px;
                text-transform: uppercase;
                font-size:15px;
                font-weight: 600;
            }
        }

    }
    .terms-conditions {
        font: normal normal 600 14px/18px Montserrat;
    }

    input[type=checkbox]{
        position:absolute;
        opacity: 0;
        z-index: -9999;
    }
    input[type=checkbox] + label{
        position: relative;
    }
    input[type=checkbox] + label .indicator{
        display: inline-block;
        width: 24px;
        height: 24px;
        border:1px solid $terciary-lightest;
        cursor: pointer;
        transition: box-shadow 200ms, border 200ms, background 200ms;
        vertical-align: middle;
    }
    input[type=checkbox] + label .indicator:hover{
        background: $secundary-light;
    }
    input[type=checkbox]:focus + label .indicator{
        box-shadow: 0px 0px 1px 3px $secundary;
    }
    input[type=checkbox]:checked + label .indicator{
        background: $secundary;
    }
    input[type=checkbox]:checked + label .indicator::after{
        content: "";
        position: absolute;
        width: 10px;
        height: 16px;
        border: 4px solid #fff;
        border-left: none;
        border-top: none;
        transform: rotate(45deg);
        left: 6px;
    }
}

#partners {
    background: $terciary-lightest;
    color: $primary;
}

.material-scrolltop {
    left:40px;
    bottom:31px;
    border-radius:0;
    z-index:1030;
    background: $secundary-light;
}

.material-scrolltop:hover {
    background-color: $secundary-light;
}

.material-scrolltop::before {
    background-color: $secundary-light;
}

.material-scrolltop.reveal {
    width:55px;
    height:55px;
}

.slick-slide {
    img {
        width:100%;
    }
}

.modal-content {
    background-color:initial;
    border:none;
}

.post-header-holder {
    background: black;
    height:400px;
    background-size: cover;
    background-position: center;
}

.post-category {
    img {
        width:65px;
        height:65px;
        display:inline-block;
    }
    h5 {
        display:inline-block;
        margin-bottom:0;
        vertical-align: middle;
    }
}

main {
    .card {
        display:inline-block;
        border:0;
        border-radius:0;
        height: 334px;
        max-width: 534px;
    }
}